.header{
  padding: 2% 10%;
  background-color: #fff;
  position: fixed;
  z-index: 999999;
}

.nav-pills li{
  list-style: none;
  font-size: 17px;
  color: #e0e0e0;
}

.nav-pills li a{
  color: #000;
}

/*home*/
#home{
  background-image: url("../img/taxi.jpg");
  background-size: cover;
  height: 750px;
}
.log-in{
  margin-top: 19%;
  z-index: 999;
}

.bg-home{
  background-color: #f7b617;
  padding: 4% 10% 7% 10%;
  margin-right: -23%;
  color: #fff;
}

.txt-two img{
  width: 95px;
  margin-top: -4px;
}

.bg-home button{
  background-color: #fff;
  border: 1px solid #fff;
  padding: 2% 3%;
  color: #000;
  border-radius: 5%;
  margin-top: 2%;
  font-size: 20px;
}

.line{
  margin-top: 6%;
  width: 195px;
  height: 1px;
  background: #fff;
  display: inline-block;
  vertical-align:super;
}

/*download*/
.cel{
  background-color: #f7b617;
  height: 585px;
  color: #fff;
}

.border-cel{
  margin-top: 60px;
  border: 1px solid #fff;
  padding: 30px;
}

.app h2{
  font-weight: bold;
}
.app{
  font-size: 25px;
}
/*drive*/
.drive{
  background-image: url("../img/conduce.jpg");
  background-size: cover;
  height: 500px;
}

.bg-driving{
  background-color: #000;
  height: 500px;
  opacity: 0.5;
  position: relative;
  width: 420px;
}

.driving{
  color: #fff;
  position: absolute;
  padding: 30% 0% 30% 10%;
  z-index: 1;
  font-size: 21px;
}

.driving button{
  background-color: #f7b617;
  border: #f7b617;
  padding: 3%;
  border-radius: 10px;
}
/*rates*/
.rates{
  background-color: #f7b617;
  height: 500px;
}

.txt-rates{
  padding: 5%;
  color: #fff;
}

.input-rate input{
  background-color: transparent;
  border: 1px solid #fff;
  padding: 10px;
  width: 350px;
  border-radius: 10px;
  margin-bottom: 3%;
  margin-top: 3%;
}

.input-rate img{
  margin-right: 1%;
}

.txt-rates button{
  background-color: #fff;
  border: transparent;
  padding: 10px;
  width: 150px;
  color: #000;
}

.btn-rate{
  display: flex;
  justify-content: center;
  margin-top: 3%;
  margin-left: -10px;
}

iframe{
  margin-top: 10%;
  border: 1px solid #fff;
  padding: 10px;
}

/*footer*/
.footer{
  background-color: #2b2b2b;
  height: 543px;
}

.logo-footer{
   padding: 5% 10% 0%;
}

.mitad-footer{
  padding: 0 10%;
}
.social-media{
  color: #fff;
  display: flex;
  align-items: flex-end;
  height: 310px;
}

.social-media i{
  padding: 5px;
}

.left-menu a,
.right-menu a{
  color:#fff;
}

.left-menu a:hover,
.right-menu a:hover{
  color:#000;
}



.download{
  display: flex;
  align-items: flex-end;
  height: 310px;
}

.download img{
  margin-top: 20px;
}

.leyend{
  color: #fff;
}
